﻿
@model List<Album>

<style>
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .page-item {
        margin: 0 5px;
    }

    .page-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        color: #007bff;
        text-decoration: none;
    }

        .page-link:hover {
            background-color: #e9ecef;
        }

    .page-item.active .page-link {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }

    .page-item.disabled .page-link {
        color: #6c757d;
        pointer-events: none;
        background-color: #fff;
        border-color: #dee2e6;
    }

</style>

<div class="oneMusic-buy-now-area mb-100">
    <div class="container">
        <h2>En Son Albümler</h2>
        <h4>Son eklenen albümleri ve albümlerin ilk parçalarını aşağıda bulabilirsiniz.</h4>
        <br /> <br/>
        <div class="row">
            @foreach (var item in Model)
            {
                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album-area" style="border: 3px solid #000; border-radius: 4px; overflow: hidden;">
                        <div class="album-thumb">
                            <img style="width:100%; height:auto;" src="@item.CoverImage" alt="">
                        
                            <!-- Album Price -->
                        <div class="album-price" style="padding: 10px; text-align: center;">
                        <p>@String.Format("{0:n2} ₺", item.Price)</p>
                        </div>
                            <!-- Play Icon -->                           
            <div>
                <audio preload="auto" controls>
                <source src="/songs/@(item.Songs!= null && item.Songs.Any() ? item.Songs.FirstOrDefault()?.SongUrl:"default-url")"> <!--Songs listesinin null olup olmadığını kontrol ettim ve eğer null ise uygun bir yanıt olusturdum-->
                </audio>
            </div>
        </div>
        <div class="album-info">
            <a href="#">
                <h5>@item.AlbumName</h5>
            </a>
            <p>@item.AppUser.Name @item.AppUser.Surname</p>
        </div>
    </div>
    </div>
    }
</div>
    <br/> <br/> <br/>
<div class="row">
    <div class="col-12">
        <div class="load-more-btn text-center">
            <a href="#" class="btn oneMusic-btn">Daha Fazla Yükle <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
</div>
    </div>
</div>